:root {
    --font: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: var(--font)
}

body {
    background: rgb(230, 230, 230);
    padding: 15px;
}

#alertContainer {
    background-color: red;
    width: 30%;
    margin: 20px auto;
}

.alertMessage {
    position: fixed;
    right: 0;
    margin-right: 10px;
    border: none;
    z-index: 900;
}

.alert-danger {
    color: black;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: #ffa270;
}

.alert-info {
    color: black;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(161, 228, 255);
}

.alert-success {
    color: black;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(138, 236, 162);
}

@keyframes alert {
    from {
        right: -600px;
    }

    to {
        right: 0;
    }
}

.fa-exclamation-triangle {
    font-size: 25px;
    color: rgb(252, 252, 33);
}

.fa-info-circle {
    font-size: 25px;
    color: rgb(33, 201, 252);
}

.fa-check-circle {
    font-size: 25px;
    color: rgb(20, 218, 20);
}

.box {
    margin-top: 1000px;
    margin: auto;
    max-width: 300px;
    padding: 0;
}

.repo {
    margin: auto;
    max-width: 800px;
    margin-bottom: 50px;
    background: rgb(233, 233, 230);
    padding: 25px;
    border-radius: 10px;
}

.name {
    padding-bottom: 20px;
}

.card {
    margin: auto;
}

.search-bar {
    margin: 1000px 0;
    margin: auto;
    max-width: 500px;
    padding: 0;
}

.user-box {
    display: block;
    margin: auto;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
}

.user-box img {
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.user-box h3 {
    margin: auto;
    padding: 8px;
}


/* Materialiazed css */


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }